.canvas {
  width: 100%;
  height: auto;
  display: none;
}


.ir-arriba {
	padding:20px;
	display:inline-block;
	background-color:rgba(72, 57, 73, 0.5);
	color:#ffff;
	position: fixed;
	font-size:20px;
	bottom:20px;
	right:20px;
	display:none;
  cursor:pointer;
  z-index: 1;
}

.ir-arriba:hover{
  background-color: rgba(247, 177, 88, 0.75);
}
.service{
  position: relative;
}
.service div{
  display:inline-block;
  padding-right:1em;
  padding-bottom:1em;
  word-wrap: break-word;
}
.service .ico{
  width: 2em;
 
}

.service div:hover{
  color: rgba(247, 177, 88, 1);
}